<h3>Lista de obras</h3>
<div class="table-responsive">
  <table class="table table-hover" *ngIf="obras?.length > 0; else sinObras">
    <caption>Lista de recibos</caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Tipo de obra</th>
        <th scope="col">Precio</th>
        <th scope="col">Vendido</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obra of obras" class="obra">
        <th scope="row">{{obra.id}}</th>
        <td>{{obra.titulo}}</td>
        <td>{{obra.tipoObra | titlecase}}</td>
        <td>{{obra.precio | number}}</td>
        <td>{{obra.vendido ? "Sí" : "No"}}</td>
        <td>
          <button type="button" class="btn btn-primary m-1" [routerLink]="['/obra/editar', obra.id]">Editar</button>
          <button type="button" class="btn btn-danger m-1" (click)="eliminar(obra.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #sinObras>
  <div class="alert alert-info" role="alert">
    Actualmente no hay obras.
  </div>
</ng-template>
